.idea
.git
.python-version
.gitignore
.env
Models/__pycache__/*
Models/__pycache__
configuration/__pycache__
configuration/__pycache__/*
controllers/__pycache__/*
controllers/__pycache__/
Resources/__pycache__/*
Resources/__pycache__/
view/__pycache__/*
class_MobileDB.py
dataclass_Mobile.py